<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./../partials/head.ejs') %>
</head>
<body class="<%- include('./../partials/body') %>">
    <%- include("./../partials/navbar.ejs") %>
    <main class="flex items-start lg:gap-11 mx-auto lg:w-88-12 lg:mt-36 min-h-96 bg-bg-second rounded-main relative after:bg-line after:rounded-main  after:block after:absolute after:left-56 after:w-1 after:h-95per ">
        <%- include ("./../partials/scroll", {sideNav}) %>

        <div class="flex flex-col items-center w-full lg:min-h-96 lg:mt-5 lg:mr-11">
            <p class="text-center text-main text-4xl font-semibold">Výsledky žáků</p>
            <div class="w-full flex pl-20 pr-5 mt-10 justify-between">
                <div class="flex lg:gap-5">
                    <p class="text-text-second text-xl font-bold w-52">Student</p>
                    <p class="text-text-second text-xl font-bold">ID</p>
                </div>
                <div class="flex lg:gap-8">
                    <p class="text-text-second text-xl font-bold">Prošlo</p>
                    <p class="text-text-second text-xl font-bold">Špatně</p>
                    <p class="text-text-second text-xl font-bold text-center w-6">%</p>
                      <p class="text-text-second text-xl font-bold text-center">Odevzdal</p>
                    <p class="text-delete text-xl font-bold">Smazat</p>
                </div>
            </div>
            <% answers.forEach(user => { %>
            <div class="flex flex-col lg:gap-2 mt-2 w-full lg:mb-5">
                <div class="w-full flex px-5 justify-between">
                    <div class="flex lg:gap-6">
                        <img src="/images/user-icon.svg"  alt="">
                        <p class="text-main-light text-xl flex-1 font-semibold w-52"><%= user.users.user_name %></p>
                        <p class="text-main-light text-xl font-semibold "><%= user.users.user_id %></p>
                   </div>
                    <div class="flex lg:gap-6">
                        <p class="text-main-light text-xl font-semibold text-center lg:w-14"><%= user.pass %></p>
                        <p class="text-main-light text-xl font-semibold text-center lg:w-14"><%= user.fails %></p>
                        <p class="text-main-light text-xl font-semibold  text-center lg:w-14"><%= user.percentage %></p>
                        <% if(user.answer_overtime) { %>
                            <p class="text-red text-xl font-semibold  text-center lg:w-24">Ne</p>
                        <% } else { %>
                            <p class="text-main-light text-xl font-semibold  text-center lg:w-24">Ano</p>
                        <% } %>
                        <p class=" text-xl font-semibold text-center lg:w-16 text-delete">X</p>
                    </div>
                </div>
                <div class="w-full h-6px bg-gradient-to-r from-user-grad-from to-user-grad-to rounded-main "></div>
                <% }) %>
            </div>
            </div>
    </main>
</body>
</html> 