<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./../partials/head.ejs') %>
</head>
<body class="<%- include('./../partials/body') %>">
    <%- include("./../partials/navbar.ejs") %>
    <main class="flex items-start lg:gap-11 mx-auto lg:w-88-12 lg:mt-36 min-h-96 bg-bg-second rounded-main relative after:bg-line after:rounded-main  after:block after:absolute after:left-56 after:w-1 after:h-95per ">
        <%- include ("./../partials/scroll", {sideNav}) %>

        <div class="flex flex-col items-center w-full lg:min-h-96 lg:mt-5 lg:mr-11">
            <p class="text-center text-main text-4xl font-semibold">Výsledky žáků</p>
            <div class="w-full flex pl-20 mt-10 justify-between">
                <div class="flex lg:gap-6">
                    <p class="text-text-second text-xl font-bold">Student</p>
                    <p class="text-text-second text-xl font-bold">Skupina</p>
                    <p class="text-text-second text-xl font-bold">Tema</p>
                    <p class="text-text-second text-xl font-bold">Ukol</p>
                </div>
                <div class="flex lg:gap-6">
                    <p class="text-text-second text-xl font-bold">Student</p>
                    <p class="text-text-second text-xl font-bold">Skupina</p>
                    <p class="text-text-second text-xl font-bold">Tema</p>
                    <p class="text-text-second text-xl font-bold">Ukol</p>
                    <p class="text-text-second text-xl font-bold">Smazat</p>
                </div>
            </div>
            <% answers.forEach(user => { %>
            <div class="flex flex-col lg:gap-2 mt-2 w-full lg:mb-5">
                <div class="w-full flex pl-5 justify-between">
                    <div class="flex lg:gap-6">
                        <p class="text-main-light text-xl flex-1 font-semibold"><%= user.pass %></p>
                        <p class="text-main-light text-xl flex-1 font-semibold"><%= user.pass %></p>
                        <p class="text-main-light text-xl  font-semibold"><%= user.pass %></p>
                        <p class="text-main-light text-xl font-semibold"><%= user.pass %></p>
                        <p class="text-main-light text-xl font-semibold"><%= user.pass %></p>
                    </div>
                    <div class="flex lg:gap-6">
                        <p class="text-main-light text-xl font-semibold"><%= user.pass %></p>
                        <p class="text-main-light text-xl font-semibold"><%= user.pass %></p>
                        <p class="text-main-light text-xl font-semibold"><%= user.pass %></p>
                        <p class="text-main-light text-xl font-semibold"><%= user.pass %></p>
                        <p class="text-main-light text-xl font-semibold"><%= user.pass %></p>
                    </div>
                </div>
                <div class="w-full h-6px bg-gradient-to-r from-user-grad-from to-user-grad-to rounded-main "></div>
                <% }) %>
                <% answers.forEach(user => { %>
                <div class="flex flex-col ">
                    <div class="flex lg:gap-5">
                        
                        <p class="text-main-light text-xl font-semibold"><%= user.pass %></p> 
                        <p><%= user.users.user_name %></p>
                    </div>
                <div class="w-full h-6px bg-gradient-to-r from-user-grad-from to-user-grad-to rounded-main "></div>
                </div>
                <% }) %>
            </div>
            </div>
    </main>
</body>
</html> 